<header>
	<div class="container">
		<div class="heading">Global Change Research Group</div>
	</div>
</header>
<nav>
	<div class="tab-background">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a>New Users</a></li>
			<li><a href="#/loginExistingUser">Existing Users</a></li>
		</ul>
	</div>
</nav>
<article>
	<section>
		<div class="container">
			<div id="content" class="tab-content">
				<div class="tab-pane active" id="tab-guest">
					<h2 align="center">Register to login.</h2>
					<div class="fields">
						<div class="field-spacing">
							<div class="field-spacing">
								<label for="firstName">First Name:</label> <input type="text"
									ng-model="firstName" required="required" autofocus> <label
									for="lastName">Last Name:</label> <input type="text"
									ng-model="lastName" required="required"> <label
									for="number">Number:</label> <input type="tel" ng-model="phone"
									required="required">
							</div>
							<div class="field-spacing">
								<label for="emailId">Email:</label> <input type="email"
									ng-model="emailId" required="required"> <label
									for="password">Password:</label> <input type="password"
									ng-model="password" required="required"> <label
									for="re_password">Confirm Password:</label> <input
									type="password" ng-model="re_password" required="required">
							</div>
							<div class="field-spacing">
								<button type="submit" ng-click="addUser()"
									class="btn large-btn btn-primary" id="add_user">Add me</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>