<header>
	<div style="text-align: center">
		<div class="heading">Global Change Research Group</div>
		<button type="button" ng-click="signOut()"
			class="btn btn-default navbar-btn">logout</button>
	</div>
</header>
<nav>
	<div class="tab-background">
		<ul class="nav nav-tabs nav-justified">
			<li><a href="#/viewUsers">View Users</a></li>
			<li><a href="#/contactsAdmin">Contact List</a></li>
			<li class="active"><a>Graphs</a></li>
		</ul>
	</div>
</nav>
<article>
	<section>
		<div class="container">
			<div id="content" class="tab-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>From Date</th>
							<th>To Date</th>
							<th>Data type</th>
							<th>Parameter</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="datetime-local" ng-model="fromDate"></td>
							<td><input type="datetime-local" ng-model="toDate"></td>
							<td><select ng-model="dataType">
									<option value="atq_no_gap_filled">No gap filled</option>
									<option value="atq_gap_filled">Gap filled</option>
									<option value="atq_meteorological">Meteorological</option>
							</select></td>
							<td><select ng-model="parameter"
								ng-show="dataType=='atq_no_gap_filled'"><option
										value="VPD">VPD</option>
									<option value="windSpeed">windSpeed</option>
									<option value="wind_dir">wind_dir</option>
									<option value="uStar">u*</option>
									<option value="h">H</option>
									<option value="qc_H">qc_H</option>
									<option value="le">LE</option>
									<option value="qc_LE">qc_LE</option>
									<option value="co2_flux">co2_flux</option>
									<option value="qc_co2_flux">qc_co2_flux</option>
									<option value="h2o_flux">h2o_flux</option>
									<option value="qc_h2o_flux">qc_h2o_flux</option>
									<option value="ch4_flux">ch4_flux</option>
									<option value="qc_ch4_flux">qc_ch4_flux</option>
									<option value="co2_mixing_ratio">co2_mixing_ratio</option>
									<option value="h2o_mixing_ratio">h2o_mixing_ratio</option>
									<option value="ch4_mixing_ratio">ch4_mixing_ratio</option>
									<option value="air_pressure">air_pressure</option>
									<option value="rh">RH</option></select> <select ng-model="parameter"
								ng-show="dataType=='atq_gap_filled'"><option
										value="nee_f">NEE_f</option>
									<option value="nee_fqcok">NEE_fqcOK</option>
									<option value="le_f">LE_f</option>
									<option value="le_fqcok">LE_fqcOK</option>
									<option value="h_f">H_f</option>
									<option value="h_fqcok">H_fqcOK</option>
									<option value="reco">Reco</option>
									<option value="gpp_f">GPP_f</option></select> <select
								ng-model="parameter" ng-show="dataType=='atq_meteorological'"><option
										value="PAR_AVG_L">PAR_AVG_L</option>
									<option value="rsolar_AVG_L">Rsolar_AVG_L</option>
									<option value="rnet_WC_AVG_L">Rnet_WC_AVG_L</option>
									<option value="air_T_AVG_L">Air_T_AVG_L</option>
									<option value="rh_AVG_L">RH_AVG_L</option>
									<option value="g_1_AVG_L">G_1_AVG_L</option>
									<option value="g_2_AVG_L">G_2_AVG_L</option>
									<option value="g_3_AVG_L">G_3_AVG_L</option>
									<option value="ppt_TOT_L">PPT_TOT_L</option>
									<option value="press_mb_AVG_L">Press_mb_AVG_L</option>
									<option value="ss_Tl_R_AVG_L">SS_Tl_R_AVG_L</option>
									<option value="ss_Dif_R_AVG_L">SS_Dif_R_AVG_L</option>
									<option value="swc_1_AVG_L">SWC_1_AVG_L</option>
									<option value="swc_2_AVG_L">SWC_2_AVG_L</option>
									<option value="swc_3_AVG_L">SWC_3_AVG_L</option>
									<option value="swc_4_AVG_L">SWC_4_AVG_L</option>
									<option value="p2_SWC_5_AVG_L">P2_SWC_5_AVG_L</option>
									<option value="p2_SWC_15_AVG_L">P2_SWC_15_AVG_L</option>
									<option value="p2_SWC_30_AVG_L">P2_SWC_30_AVG_L</option>
									<option value="p3_SWC_5_AVG_L">P3_SWC_5_AVG_L</option>
									<option value="p3_SWC_15_AVG_L">P3_SWC_15_AVG_L</option>
									<option value="p3_SWC_30_AVG_L">P3_SWC_30_AVG_L</option>
									<option value="p3_SolT5_AVG_L">P3_SolT5_AVG_L</option>
									<option value="p3_SolT15_AVG_L">P3_SolT15_AVG_L</option>
									<option value="p3_SolT30_AVG_L">P3_SolT30_AVG_L</option>
									<option value="p4_SolT5_AVG_L">P4_SolT5_AVG_L</option>
									<option value="p4_SolT15_AVG_L">P4_SolT15_AVG_L</option>
									<option value="p4_SolT30_AVG_L">P4_SolT30_AVG_L</option>
									<option value="snowDepth_L">SnowDepth_L</option></select></td>
							<td><input type="button" ng-click="generateGraph()"
								value="generate graph"></td>
							<td><input type="button" ng-click="generateExcel()"
								value="generate csv"></td>
						</tr>
					</tbody>
				</table>
				<div style="text-align: center">
					<a href="http://www.bgc-jena.mpg.de/~MDIwork/eddyproc/upload.php"
						target="_blank">Eddy Covariance Gap-Filling Tool </a>
				</div>
				<!-- <div class="tab-pane active" id="tab-contacts">
					<canvas id="line" class="chart chart-line" data="data"
						labels="labels" legend="true" series="series"></canvas>
				</div> -->
				<div id="chartContainer" style="height: 300px; width: 100%;">
				</div>
			</div>
		</div>
	</section>
</article>