<header>
	<div style="text-align: center">
		<div class="heading">Global Change Research Group</div>
		<button type="button" ng-click="signOut()"
		class="btn btn-default navbar-btn">logout</button>
	</div>
</header>
<nav>
	<div class="tab-background">
		<ul class="nav nav-tabs nav-justified">
			<li><a href="#/viewUsers">View Users</a></li>
			<li><a href="#/contactsAdmin">Contact List</a></li>
			<li class="active"><a>Graphs</a></li>
		</ul>
	</div>
</nav>
<article>
	<section>
		<!-- <div class="container"> -->
		<div id="content" class="tab-content">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Site</th>
						<th>From Date</th>
						<th>To Date</th>
						<th>Frequency</th>
						<th>Window</th>
						<th>Data type</th>
						<th>Parameter</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><select ng-model="siteType">
							<option value="">Select</option>
							<option value="ATQ">Atqasuk</option>
						</select></td>
						<td><input type="text" ng-model="fromDate"
						placeholder="yyyy-mm-dd HH:MM"></td>
						<td><input type="text" ng-model="toDate"
						placeholder="yyyy-mm-dd HH:MM"></td>
						<td><select ng-model="frequencyType">
							<option value="">Select</option>
							<option value="daily">Daily</option>
							<option value="hourly">Hourly</option>
						</select></td>
						<td><select ng-model="window"
							title="select the days for averaging window">
							<option value=1>0</option>
							<option value=3>3</option>
							<option value=5>5</option>
							<option value=7>7</option>
						</select></td>
						<td><select ng-model="dataType">
							<option value="">Select</option>
							<option value="atq_no_gap_filled_cleaned">Flux data</option>
							<option value="atq_gap_filled">Gap filled data</option>
							<option value="atq_meteorological">Meteorological data</option>
						</select></td>
						<td><select ng-model="parameter"
							ng-show="dataType=='atq_no_gap_filled_cleaned'">
							<option value="">Select</option>
							<option value="vpd">VPD</option>
							<option value="windSpeed">Wind speed</option>
							<option value="wind_dir">Wind direction</option>
							<option value="uStar">Friction velocity (u*)</option>
							<option value="h">H</option>
							<option value="qc_H">QC - H</option>
							<option value="le">LE</option>
							<option value="qc_LE">QC - LE</option>
							<option value="co2_flux">NEE</option>
							<option value="h2o_flux">H2O flux</option>
							<option value="ch4_flux">CH4 flux</option>
							<option value="qc_ch4_flux">QC - CH4 flux</option>
							<option value="co2_mixing_ratio">CO2 mixing ratio</option>
							<option value="h2o_mixing_ratio">H2O mixing ratio</option>
							<option value="ch4_mixing_ratio">CH4 mixing ratio</option>
							<option value="air_pressure">Baro. Pressure A</option>
							<option value="rh">RH - LICOR</option>
						</select> <select ng-model="parameter" ng-show="dataType=='atq_gap_filled'">
						<option value="">Select</option>
						<option value="nee_f">NEE (gap-filled)</option>
						<option value="nee_fqcOK">QC - NEE (gap-filled)</option>
						<option value="le_f">LE (gap-filled)</option>
						<option value="le_fqcOK">QC - LE (gap-filled)</option>
						<option value="h_f">H (gap-filled)</option>
						<option value="h_fqcOK">QC - H (gap-filled)</option>
						<option value="reco">Reco</option>
						<option value="gpp_f">GPP</option>
					</select> <select ng-model="parameter"
					ng-show="dataType=='atq_meteorological'"><option
					value="">Select</option>
					<option value="par_AVG_L">Total PAR - LICOR</option>
					<option value="rsolar_AVG_L">Rsolar</option>
					<option value="rnet_WC_AVG_L">Rnet</option>
					<option value="air_T_AVG_L">Tair</option>
					<option value="rh_AVG_L">RH - Vaisala</option>
					<option value="g_1_AVG_L">G1</option>
					<option value="g_2_AVG_L">G2</option>
					<option value="g_3_AVG_L">G3</option>
					<option value="ppt_TOT_L">Precip.</option>
					<option value="press_mb_AVG_L">Baro. Pressure B</option>
					<option value="ss_Tl_R_AVG_L">Total PAR - BF4</option>
					<option value="ss_Dif_R_AVG_L">Diffuse PAR - BF4</option>
					<option value="swc_1_AVG_L">SWC 15 cm A</option>
					<option value="swc_2_AVG_L">SWC 15 cm B</option>
					<option value="swc_3_AVG_L">SWC 15 cm C</option>
					<option value="swc_4_AVG_L">SWC 15 cm D</option>
					<option value="p2_SWC_5_AVG_L">SWC 5 cm A</option>
					<option value="p2_SWC_15_AVG_L">SWC 15 cm E</option>
					<option value="p2_SWC_30_AVG_L">SWC 30 cm A</option>
					<option value="p3_SWC_5_AVG_L">SWC 5 cm B</option>
					<option value="p3_SWC_15_AVG_L">SWC 15 cm F</option>
					<option value="p3_SWC_30_AVG_L">SWC 30 cm B</option>
					<option value="p3_SolT5_AVG_L">Tsoil 5 cm A</option>
					<option value="p3_SolT15_AVG_L">Tsoil 15 cm A</option>
					<option value="p3_SolT30_AVG_L">Tsoil 30 cm A</option>
					<option value="p4_SolT5_AVG_L">Tsoil 5 cm B</option>
					<option value="p4_SolT15_AVG_L">Tsoil 15 cm B</option>
					<option value="p4_SolT30_AVG_L">Tsoil 30 cm B</option>
					<option value="soil_1_AVG_L">Tsoil surface C</option>
					<option value="soil_2_AVG_L">Tsoil 5 cm C</option>
					<option value="soil2_1_AVG_L">Tsoil surface D</option>
					<option value="soil2_2_AVG_L">Tsoil 5 cm D</option>
					<option value="snowDepth_L">Snow depth</option>
				</select></td>
				<td><input type="button" ng-click="generateGraph()"
				value="generate graph"></td>
				<td><input type="button" ng-click="generateExcel()"
				value="generate csv"></td>
			</tr>
		</tbody>
	</table>
	<div style="text-align: center">
		<a href="http://www.bgc-jena.mpg.de/~MDIwork/eddyproc/upload.php"
		target="_blank">Eddy Covariance Gap-Filling Tool </a>
	</div>
	<!-- <div class="tab-pane active" id="tab-contacts">
					<canvas id="line" class="chart chart-line" data="data"
						labels="labels" legend="true" series="series"></canvas>
	</div> -->
			<h1>Variables along with their time intervals for which the data
			is available.</h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Parameter</th>
					<th>Time interval</th>
					<th>Parameter</th>
					<th>Time interval</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>Vapor pressure deficit (VPD)</b></td>
					<td>2004-2016</td>
					<td><b>Wind speed</b></td>
					<td>2004-2016</td>
				</tr>
				<tr>
					<td><b>Wind direction</b></td>
					<td>2004-2016</td>
					<td><b>Friction velocity (u*)</b></td>
					<td>2004-2016</td>
				</tr>
				<tr>
					<td><b>Sensible heat flux (H)</b></td>
					<td>2004-2016</td>
					<td><b>H quality control flag</b></td>
					<td>2004-2016</td>
				</tr>
				<tr>
					<td><b>Latent heat flux (LE)</b></td>
					<td>2004-2016</td>
					<td><b>LE quality control flag</b></td>
					<td>2004-2016</td>
				</tr>
				<tr>
					<td><b>Net ecosystem exchange of CO2 (NEE)</b></td>
					<td>2004-2012 and 2015-2016</td>
					<td><b>H2O flux</b></td>
					<td>2004-2012 and 2015-2016</td>
				</tr>
				<tr>
					<td><b>Methane (CH4) flux</b></td>
					<td>2015-2016</td>
					<td><b>CH4 quality control flag</b></td>
					<td>2013-2016</td>
				</tr>
				<tr>
					<td><b>CO2 mixing ratio</b></td>
					<td>2004-2012 and 2015-2016</td>
					<td><b>H2O mixing ratio</b></td>
					<td>2004-2012 and 2015-2016</td>
				</tr>
				<tr>
					<td><b>CH4 mixing ratio</b></td>
					<td>2015-2016</td>
					<td><b>Barometric pressure A</b></td>
					<td>2004-2016</td>
				</tr>
				<tr>
					<td><b>Relative humidity (RH) - LICOR</b></td>
					<td></td>
					<td><b>Photosynthetically active radiation (PAR)</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Solar radiation (Rsolar)</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Net radiation (Rnet)</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Air temperature (Tair)</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Relative humidity (RH) - Vaisala</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil heat flux 1 (G1)</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil heat flux 2 (G2)</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil heat flux 3 (G3)</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Precipitation</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Barometric pressure B</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Photosynthetically active radiation (PAR) - BF4</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Diffuse PAR - BF4</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil water content 15cm A</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil water content 15cm B</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil water content 15cm C</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil water content 15cm D</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil water content 5cm A</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil water content 15cm E</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil water content 30cm A</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil water content 5cm B</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil water content 15cm F</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil water content 30cm B</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil temperature (Tsoil) 5 cm A</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil temperature (Tsoil) 15 cm A</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil temperature (Tsoil) 30 cm A</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil temperature (Tsoil) 5 cm B</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Soil temperature (Tsoil) 15 cm B</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
				<tr>
					<td><b>Soil temperature (Tsoil) 30 cm B</b></td>
					<td>1999-2008 and 2014-2016</td>
					<td><b>Snow depth</b></td>
					<td>1999-2008 and 2014-2016</td>
				</tr>
			</tbody>
		</table>
	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
	<div id="chartContainer3" style="height: 300px; width: 100%;"></div>
	<div id="chartContainer4" style="height: 300px; width: 100%;"></div>
</div>
<div>{{badSelect}}</div>
<!-- </div> -->
</section>
</article>
