<header>
	<div class="container">
		<div class="heading">
			You are logged in as an admin!
		</div>
		<button type="button" ng-click="signOut()"
			class="btn btn-default navbar-btn">Sign out</button>
	</div>
</header>
<section>
	<div class="container">
		<div class="tab-background">
			<ul class="nav nav-tabs nav-justified">
				<li><a href="#/viewReservation">View Users</a></li>
				<li><a href='#/seating'>View User's Statuses</a></li>
				<li><a href='#/addReservation'>Create/Edit User</a></li>
				<li class="active"><a>Profile and Settings</a></li>
				<li><a href="#/contacts">Contact List</a></li>
			</ul>
		</div>
		<div id="content" class="tab-content">
			<div class="tab-pane active" id="tab-profile">
				<h2>Update Profile</h2>
				<div>
					<input type="text" ng-model="search" placeholder="Search profiles">
				</div>
				<table class="table">
					<thead>
						<tr>
							<th ng-click="prop='roleId'; reverse=!reverse;"><i
								class="fa fa-male"></i> RoleID</th>
							<th ng-click="prop='role'; reverse=!reverse;"><i
								class="fa fa-male"></i> Role</th>
							<th ng-click="prop='firstName'; reverse=!reverse;">Name</th>
							<th ng-click="prop='phone'; reverse=!reverse;"><i
								class="fa fa-phone-square"></i> Phone</th>
							<th ng-click="prop='email'; reverse=!reverse;"><i
								class="fa fa-envelope"></i> Email</th>
							<th><input type="button" value="AddNew"
								ng-click="addProfile()"></th>
						</tr>
					</thead>
					<tbody ng-init="prop='roleId'; reverse=false;">
						<tr
							ng-repeat="person in people | filter: search | orderBy:prop:reverse">
							<td>{{person.roleId}}</td>
							<td>{{person.role}}</td>
							<td>{{person.firstName}}</td>
							<td>{{person.phone}}</td>
							<td>{{person.email}}</td>
							<td><input type="button" name="Edit" value="Edit"
								ng-click="editProfile(person.roleId)"> <input
								type="button" value="Delete"
								ng-click="deleteProfile(person.roleId)"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>