@media only screen and (min-width: 320px) {
	.btn {
		border-radius: 15px;
		display: inline-block;
		font-size: 100%;
	}
	.btn-primary {
		background-image: linear-gradient(to bottom, #3EFF02 0, rgba(255, 10, 10, 0.83)
			100%);
	}
	.tab-background {
		background-color: rgba(255, 255, 255);
	}
	body {
		font-family: "Times New Roman", Georgia, Serif;
		font-size: 175%;
		font-weight: 100;
		background-image: url('bkgrnd.jpg');
		background-size: cover;
	}
	h2 {
		text-shadow: 1px 0px rgba(0, 0, 0, 0.72);
		font-size: 250%;
		color: rgba(255, 167, 0, 0.37);
	}
	.tab-pane {
		text-align: center;
		background-image: linear-gradient(rgba(255, 255, 255, 0.83),
			rgba(222, 180, 180, 0.57));
		border-radius: 20px;
		box-shadow: 0px 0px 30px rgba(255, 230, 129, 0.72);
		border-style: groove;
		margin-top: 40px;
		font-weight: bold;
	}
	.fields {
		display: inline;
		width: 160px;
		margin: 0 auto;
	}
	.field-spacing {
		margin: 30px;
	}
	input {
		border-radius: 10px;
		border-color: rgb(248, 220, 153);
	}
	.heading {
		display: inline-block;
		text-align: center;
		margin: 25px;
		color: rgba(0, 0, 0, 1);
		font-size: 50px;
		background-color: rgba(255, 255, 255, 0.15);
		border-radius: 12px;
	}
	.headerBackground {
		background-image:
			url('http://nsidc.org/icelights/files/2011/05/sea_ice_jumbles_smaller.jpg');
	}
	th {
		text-align: center;
		cursor: pointer;
		font-size: 150%;
	}
	.table>thead>tr>th {
		vertical-align: bottom;
		border-bottom: 2px solid rgb(218, 193, 160);
	}
	a {
		color: rgba(0, 0, 0, 0.66);
		text-shadow: 1px 0px rgba(255, 255, 255, 0.72);
	}
}