<header>
	<div class="container">
		<div class="heading">
			You are logged in as an admin!
		</div>
		<button type="button" ng-click="signOut()" class="btn btn-default navbar-btn">
			Sign out
		</button>
	</div>
</header>
<section>
	<div class="container">
		<div class="tab-background">
			<ul class="nav nav-tabs nav-justified">
				<li class="active">
					<a>View Users</a>
				</li>
				<li>
					<a href="#/seating">View User's Statuses</a>
				</li>
				<li>
					<a href="#/addReservation">Create/Edit User</a>
				</li>
				<li>
					<a href="#/profile">Profile and Settings</a>
				</li>
				<li>
					<a href="#/contacts">Contact List</a>
				</li>
			</ul>
		</div>
		<div id="content" class="tab-content">
			<div class="tab-pane active" id="tab-reservation">
				<h2>Users list</h2>
				<div>
					<input type="text" ng-model="search" placeholder="Search users">
				</div>
				<table class="table">
					<thead>
						<tr>
							<th ng-click="prop='id'; reverse=!reverse;">Index</th>
							<th ng-click="prop='firstName'; reverse=!reverse;">Name</th>
							<th ng-click="prop='bookingDate'; reverse=!reverse;">Date Added</th>
							<th ng-click="prop='partySize'; reverse=!reverse;">ID</th>
							<th>More Info</th>
						</tr>
					</thead>
					<tbody ng-init="prop='id'; reverse=false;">
						<tr ng-repeat="person in people | filter: search | orderBy:prop:reverse">
							<td>{{person.id}}</td>
							<td>{{person.firstName}}</td>
							<td>{{person.bookingDate}} {{person.bookingTime}}</td>
							<td>{{person.partySize}}</td>
							<td>
							<button type="submit" ng-click="customerDetails(person.id)" class="btn large-btn btn-primary">
								Details
							</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</section>