<header>
	<div class="container">
		<div class="heading">Global Change Research Group</div>
		<button type="button" ng-click="signOut()"
			class="btn btn-default navbar-btn">logout</button>
	</div>
</header>
<nav>
	<div class="tab-background">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a>View Users</a></li>
			<li><a href="#/contacts">Contact List</a></li>
			<li><a href="#/graph">Graphs</a></li>
		</ul>
	</div>
</nav>
<article>
	<section>
		<div class="container">
			<div id="content" class="tab-content">
				<div>
					<input type="text" ng-model="search" placeholder="Search users">
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th ng-click="prop='userID'; reverse=!reverse;">User ID</th>
							<th ng-click="prop='timeStamp'; reverse=!reverse;">Since</th>
							<th ng-click="prop='firstName'; reverse=!reverse;">First
								Name</th>
							<th ng-click="prop='lastName'; reverse=!reverse;">Last Name</th>
							<th ng-click="prop='email'; reverse=!reverse;">Email</th>
							<th ng-click="prop='phone'; reverse=!reverse;">Phone</th>
						</tr>
					</thead>
					<tbody ng-init="prop='userID'; reverse=false;">
						<tr
							ng-repeat="person in people | filter: search | orderBy:prop:reverse">
							<td>{{person.userID}}</td>
							<td>{{person.timeStamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{person.firstName}}</td>
							<td>{{person.lastName}}</td>
							<td>{{person.email}}</td>
							<td>{{person.phone}}</td>
							<td><input type="button" value="Edit user"
								ng-click="editDetails(person.userID)"></td>
							<td><input type="button" value="Delete user"
								ng-click="deleteUser()"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</article>